@font-face {
  font-family: 'Nunito Sans Regular';
  font-weight: normal;
  font-style: normal;
  src: url('./NUNITOSANS-REGULAR.TTF');
}

@font-face {
  font-family: 'Nunito Sans Bold';
  font-weight: normal;
  font-style: normal;
  src: url('./NUNITOSANS-BOLD.TTF');
}

@font-face {
  font-family: 'Nunito Sans Black';
  font-weight: normal;
  font-style: normal;
  src: url('./NUNITOSANS-BLACK.TTF');
}

@font-face {
  font-family: 'Nunito Sans Semibold';
  font-weight: normal;
  font-style: normal;
  src: url('./NUNITOSANS-SEMIBOLD.TTF');
}

@font-face {
  font-family: 'Bebas Neue';
  font-weight: normal;
  font-style: normal;
  src: url('./BEBASNEUE-REGULAR.OTF');
}