body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* * Overrides the leaflet-div-icon class.
   * without this the custom markers would have white bgcolor
   * and black border */
.leafletFile {
  background: none;
  border: none;
  border-radius: 50%;
}
